@charset "utf-8";
/* Noto Sans KR (korean) http://www.google.com/fonts/earlyaccess */

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 100;
    src: url(../../common/fonts/NotoSansKR-Thin.woff2) format("woff2"), url(../../common/fonts/NotoSansKR-Thin.woff) format("woff"), url(../../common/fonts/NotoSansKR-Thin.otf) format("opentype");
}
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 300;
    src: url(../../common/fonts/NotoSansKR-Light.woff2) format("woff2"), url(../../common/fonts/NotoSansKR-Light.woff) format("woff"), url(../../common/fonts/NotoSansKR-Light.otf) format("opentype");
}
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    src: url(../../common/fonts/NotoSansKR-Regular.woff2) format("woff2"), url(../../common/fonts/NotoSansKR-Regular.woff) format("woff"), url(../../common/fonts/NotoSansKR-Regular.otf) format("opentype");
}
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 500;
    src: url(../../common/fonts/NotoSansKR-Medium.woff2) format("woff2"), url(../../common/fonts/NotoSansKR-Medium.woff) format("woff"), url(../../common/fonts/NotoSansKR-Medium.otf) format("opentype");
}
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 700;
    src: url(../../common/fonts/NotoSansKR-Bold.woff2) format("woff2"), url(../../common/fonts/NotoSansKR-Bold.woff) format("woff"), url(../../common/fonts/NotoSansKR-Bold.otf) format("opentype");
}
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 900;
    src: url(../../common/fonts/NotoSansKR-Black.woff2) format("woff2"), url(../../common/fonts/NotoSansKR-Black.woff) format("woff"), url(../../common/fonts/NotoSansKR-Black.otf) format("opentype");
}

/* default */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
p,
button,
iframe,
th,
td {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
dt {
    font-weight: normal;
}
img,
fieldset,
iframe,
button {
    border: 0 none;
}
li {
    list-style: none;
}
i,
em,
u,
cite {
    font-style: normal;
}
strong {
    font-weight: normal;
}
img {
}
a {
    color: #757575;
    text-decoration: none;
    outline-offset: -1px;
}
.chrome a,
.safari a {
    outline-offset: -3px;
}
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

html,
body {
    height: 100%;
    font-size: 0;
    line-height: 0;
}
body {
    overflow-x: hidden;
    word-break: keep-all;
    word-wrap: break-word;
}
body.non-scroll {
    overflow-y: hidden;
}

/* Form */
legend {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
}
select,
input,
textarea {
    outline: 0;
}
select,
input,
label {
    vertical-align: middle;
}
button {
    border: 0 none;
    cursor: pointer;
    background: none;
    font-family: "Noto Sans KR";
}

select::-ms-expand {
    display: none;
}
select::-moz-focus-inner {
    border: 0;
    padding: 0;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
select {
    font-family: "Noto Sans KR";
}
input {
    font-family: "Noto Sans KR";
}
table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
textarea {
    font-family: "Noto Sans KR";
}

body {
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.toss_top {
    height: 32px;
    overflow: hidden;
}
.toss_top img {
    height: 32px;
}
.toss_input {
    width: 100%;
    height: 220px;
    font-size: 48px;
    line-height: 220px;
    font-weight: 500;
    color: #1e1e25;
    text-align: center;
    padding-top: 32px;
    position: relative;
    height: 252px;
}
.toss_input strong {
    font-size: 48px;
    line-height: 220px;
    font-weight: 500;
    color: #1e1e25;
}
.toss_input span {
    font-size: 48px;
    line-height: 220px;
    font-weight: 500;
    color: #1e1e25;
}
.toss_input p.abs {
    font-size: 12px;
    line-height: 14px;
    color: #999;
    position: absolute;
    left: 0;
    top: 190px;
    width: 100%;
    text-align: center;
}
.toss_btns {
    margin: 0 16px;
}
.toss_btns ul {
}
.toss_btns ul:after {
    content: "";
    display: block;
    clear: both;
}
.toss_btns ul li {
    float: left;
    width: 33.3%;
}
.toss_btns ul li button {
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 64px;
    color: #3b3b46;
    font-weight: 500;
}
.toss_btns ul li.cancel button {
    font-size: 17px;
}
.toss_btns ul li button img {
    width: 24px;
}
.toss_btns ul li.all {
    width: 100%;
    margin-top: 12px;
}
.toss_btns ul li.all button {
    background: #3182f6;
    color: #fff;
    border-radius: 6px;
    height: 56px;
    line-height: 56px;
    font-size: 17px;
}
.toss_btns ul li.all.dis button {
    background: #c0d4f1;
    color: #fff;
    border-radius: 6px;
    height: 56px;
    line-height: 56px;
    font-size: 17px;
}

.toss_header {
    position: relative;
    text-align: center;
}
.toss_header strong {
    font-size: 17px;
    line-height: 24px;
    color: #1e1e25;
    font-weight: 600;
}
.toss_header .back {
    position: absolute;
    left: 16px;
    top: 0;
}
.toss_header .back img {
    height: 24px;
}
.toss_bank_list {
    margin-top: 11px;
}
.toss_bank_list ul {
}
.toss_bank_list li {
    height: 88px;
    padding: 0 24px;
    display: table;
    width: 100%;
    box-sizing: border-box;
}
.toss_bank_list li a {
    display: table-cell;
    height: 88px;
    vertical-align: middle;
}
.toss_bank_list li .icon {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    text-align: center;
    padding-top: 6px;
    box-sizing: border-box;
}
.toss_bank_list li .icon.user {
    padding: 0;
}
.toss_bank_list li .icon img {
    width: 26px;
}
.toss_bank_list li .icon.user img {
    width: 100%;
}
.toss_bank_list li .text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}
.toss_bank_list li .text strong {
    display: block;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #3b3b46;
}
.toss_bank_list li .text span {
    display: block;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    color: #747481;
    margin-top: 2px;
}

.withdraw_area {
    margin: 0 24px;
    margin-top: 42px;
    position: relative;
}
.withdraw_area > .icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 64px;
    height: 64px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.07);
    padding-top: 10px;
    text-align: center;
    border-radius: 32px;
}
.withdraw_area > .icon img {
    width: 42px;
}
.withdraw_area .text {
    font-size: 22px;
    line-height: 28px;
    color: #1e1e25;
}
.withdraw_area .text strong {
    font-weight: 600;
}
.withdraw_area .info {
    font-size: 13px;
    line-height: 16px;
    color: #747481;
    margin-top: 16px;
}
.withdraw_area + .toss_bank_list {
    margin: 0 24px;
    margin-top: 140px;
}
.withdraw_area + .toss_bank_list > strong {
    font-size: 15px;
    line-height: 18px;
    color: #747481;
}
.withdraw_area + .toss_bank_list ul {
    margin-top: 6px;
}
.withdraw_area + .toss_bank_list ul li {
    height: 72px;
    padding: 0;
}
.withdraw_area + .toss_bank_list ul li a {
    height: 72px;
}
.withdraw_area + .toss_bank_list ul li.check {
    background: url("../../images/common/icon_check.png") right center no-repeat;
    background-size: 24px;
}
.withdraw_area + .toss_bank_list .submit {
    background: #3182f6;
    color: #fff;
    border-radius: 6px;
    height: 56px;
    line-height: 56px;
    width: 100%;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    margin-top: 24px;
}
